/* Estilos globais */
body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

/* Estilos específicos da página de login */
.container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  overflow: hidden;
}

.card-img {
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-label-group {
  margin-bottom: 15px;
}

.form-label-group input {
  border-radius: 5px;
}

.btn-dark {
  background-color: #343a40;
  border: none;
}

.alert-link {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
}

.alert-link:hover {
  text-decoration: underline;
}

.text-muted {
  color: #6c757d !important;
}

.text-center {
  text-align: center;
}
